<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="icon" type="image/png" href="/images/logoMercadoLiebre.png">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/5297b1b7bd.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <section class="logo-search-button">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" class="logo"></a><br>
        <input type="search" class="search" placeholder="Buscar productos, marcas, y más...">
        <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
    </section>
        <p class="info"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <ul class="barra-navegacion-1">
            <li><a href="./ofertas.html" class="articulos-barras">Ofertas</a></li>
            <li><a href="./tiendas-oficiales.html" class="articulos-barras">Tiendas Oficiales</a></li>
            <li><a href="./vender.html" class="articulos-barras">Vender</a></li>
            <li><a href="./ayuda.html" class="articulos-barras">Ayuda</a></li>
        </ul>
        <ul class="barra-navegacion-2">
            <li><a href="./register.html" class="articulos-barras">Creá Tu Cuenta <i class="fa-regular fa-address-card" id="barra-navegacion-2-iconos"></i></a></li>
            <li><a href="./login.html" class="articulos-barras">Ingresá <i class="fa-solid fa-right-to-bracket" id="barra-navegacion-2-iconos"></i></a></li>
            <li><a href="./mis-compras.html" class="articulos-barras">Mis Compras <i class="fa-solid fa-cart-flatbed" id="barra-navegacion-2-iconos"></i></a></li>
        </ul>
        <div class="boton-menu"><i class="fa-solid fa-bars" id="icono-menu"></i><br></div>
    </header>
    <section class="banner">
        <img src="/images/img-home-banner.jpg" alt="" class="banner-img">
    </section>
    <main class="main">
        <section class="productos-section">
            <h3 class="titular-productos">Basado en tu última visita:</h3>
            <section class="productos">
            <article class="producto-home">
                <img src="/images/img-cafetera-moulinex.jpg" alt="" class="img-productos-home">
                <hr>
                <div class="producto-nombre-envio-precio-descuento">
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <h4 class="nombre-producto">Cafetera Moulinex</h4>
                </div>
            </article>
            <article class="producto-home">
                <img src="/images/img-macbook-pro-2019.jpg" alt="" class="img-productos-home">
                <hr>
                <div class="producto-nombre-envio-precio-descuento">
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <h4 class="nombre-producto">MacBook Pro 2019</h4>
                </div>
            </article>
            <article class="producto-home">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" class="img-productos-home">
                <hr>
                <div class="producto-nombre-envio-precio-descuento">
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <h4 class="nombre-producto">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article class="producto-home">
                <img src="/images/img-tv-samsung-smart.jpg" alt="" class="img-productos-home">
                <hr>
                <div class="producto-nombre-envio-precio-descuento">
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <h4 class="nombre-producto">SmartTv Samsung 43"</h4>
                </div>
            </article>
            </section>
            <hr class="hr-separador">
        </section>
        <section class="productos-section">
            <h3 class="titular-productos">Ofertas:</h3>
            <section class="productos">
            <article class="producto-home">
                <img src="/images/img-cafetera-moulinex.jpg" alt="" class="img-productos-home">
                <hr>
                <div class="producto-nombre-envio-precio-descuento">
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <p class="precio">$6.770</p>
                    <p class="descuento">40% OFF</p>
                    <h4 class="nombre-producto">Cafetera Moulinex</h4>
                </div>
            </article>
            <article class="producto-home">
                <img src="/images/img-macbook-pro-2019.jpg" alt="" class="img-productos-home">
                <hr>
                <div class="producto-nombre-envio-precio-descuento">
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <p class="precio">$230.000</p>
                    <p class="descuento">20% OFF</p>
                    <h4 class="nombre-producto">MacBook Pro 2019</h4>
                </div>
            </article>
            <article class="producto-home">
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="" class="img-productos-home">
                <hr>
                <div class="producto-nombre-envio-precio-descuento">
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <p class="precio">$70.500</p>
                    <p class="descuento">10% OFF</p>
                    <h4 class="nombre-producto">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article class="producto-home">
                <img src="/images/img-tv-samsung-smart.jpg" alt="" class="img-productos-home">
                <hr>
                <div class="producto-nombre-envio-precio-descuento">
                    <div class="camion"><i class="fa-solid fa-truck"></i></div>
                    <p class="precio">$23.200</p>
                    <p class="descuento">5% OFF</p>
                    <h4 class="nombre-producto">SmartTv Samsung 43"</h4>
                </div>
            </article>
        </section>
        </section>
    </main>
    <footer class="footer">
        <section class="footer-info">
        <section class="metodo-pago">
            <i class="fa-solid fa-credit-card" id="iconos-footer"></i>
            <h4 class="titulos-footer">Pagá con tarjeta o en efectivo</h4>
            <p class="parrafos-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta <br>o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section class="envios-gratis">
            <i class="fa-solid fa-gift" id="iconos-footer"></i>
            <h4 class="titulos-footer">Envío gratis desde $ 2.500</h4>
            <p class="parrafos-footer">Solo por estar registrad@ en Mercado Liebretenés envíos gratis <br>en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section class="seguridad">
            <i class="fa-solid fa-user-shield" id="iconos-footer"></i>
            <h4 class="titulos-footer">Seguridad, de principio a fin</h4>
            <p class="parrafos-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que <br>no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
    </section>
    <section>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </section>
    </footer>
</body>
</html>